<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>servlets.loginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/servlets.loginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>clientEditServlet</servlet-name>
        <servlet-class>servlets.clientEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clientEditServlet</servlet-name>
        <url-pattern>/servlets.clientEditServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>clientDeleteServlet</servlet-name>
        <servlet-class>servlets.clientDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clientDeleteServlet</servlet-name>
        <url-pattern>/servlets.clientDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>clientSearchServlet</servlet-name>
        <servlet-class>servlets.clientSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clientSearchServlet</servlet-name>
        <url-pattern>/servlets.clientSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>clientAddServlet</servlet-name>
        <servlet-class>servlets.clientAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clientAddServlet</servlet-name>
        <url-pattern>/servlets.clientAddServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>roomEditServlet</servlet-name>
        <servlet-class>servlets.roomEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>roomEditServlet</servlet-name>
        <url-pattern>/servlets.roomEditServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>roomDeleteServlet</servlet-name>
        <servlet-class>servlets.roomDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>roomDeleteServlet</servlet-name>
        <url-pattern>/servlets.roomDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>roomSearchServlet</servlet-name>
        <servlet-class>servlets.roomSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>roomSearchServlet</servlet-name>
        <url-pattern>/servlets.roomSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>roomAddServlet</servlet-name>
        <servlet-class>servlets.roomAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>roomAddServlet</servlet-name>
        <url-pattern>/servlets.roomAddServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>reserveEditServlet</servlet-name>
        <servlet-class>servlets.reserveEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reserveEditServlet</servlet-name>
        <url-pattern>/servlets.reserveEditServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>reserveDeleteServlet</servlet-name>
        <servlet-class>servlets.reserveDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reserveDeleteServlet</servlet-name>
        <url-pattern>/servlets.reserveDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>reserveSearchServlet</servlet-name>
        <servlet-class>servlets.reserveSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reserveSearchServlet</servlet-name>
        <url-pattern>/servlets.reserveSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>reserveAddServlet</servlet-name>
        <servlet-class>servlets.reserveAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reserveAddServlet</servlet-name>
        <url-pattern>/servlets.reserveAddServlet</url-pattern>
    </servlet-mapping>
</web-app>
